<div class="sidebar">
    <div class="logo">
        <img src="https://avatars.mds.yandex.net/i?id=47330145e2a40d102f5ac227f0121cf3a98c5761-4078046-images-thumbs&n=13" alt="profile_picture">
        <h3>Sota2B</h3>
    </div>
    <ul>
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span class="item">Домашняя страница</span>
            </a>
        </li>
        <li>
            <a routerLink="/events" routerLinkActive="active">
                <span class="item">События</span>
            </a>
        </li>
        <li>
            <a routerLink="/products" routerLinkActive="active">
                <span class="item">Магазин</span>
            </a>
        </li>
        <li>
            <a routerLink="/users" routerLinkActive="active">
                <span class="item">Пользователи</span>
            </a>
        </li>
        <li>
    </ul>
</div>