<div class="container">
    <div class="section" id="achievementSection">
        <h2>Достижения {{user.name}}</h2>
        <div class="card-container">
            <div *ngFor="let achievement of user.achievements">
                <app-achievement-card [achievementInfo]="achievement"></app-achievement-card>
            </div>
        </div>
    </div>
    <div class="two-column-container">
        <div class="section" id="eventSection">
            <h2>События</h2>
            <div class="section-body">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Название события</th>
                            <th>Дата начала</th>
                            <th>Дата окончания</th>
                            <th>Описание</th>
                            <th>Награда</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of user.events">
                            <td>{{ event.name }}</td>
                            <td>{{ event.startDate| date }}</td>
                            <td>{{ event.endDate| date }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.reward }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="section" id="purchaseSection">
            <h2>Покупки</h2>
            <div class="section-body">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Название покупки</th>
                        <th>Цена</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let purchase of user.purchases">
                        <td>{{ purchase.productName }}</td>
                        <td>{{ purchase.price}}</td>
                        <td>{{ purchase.purchaseDate| date }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>