<tui-input
    id="dataName"
    tuiAutoFocus
    tuiTextfieldSize="m"
    [(ngModel)]="data.name"
    placeholder="Введите название продукта"
>Название
</tui-input>

<tui-input
    id="dataDescription"
    tuiTextfieldSize="m"
    [(ngModel)]="data.description"
    placeholder="Введите описание"
>Описание
</tui-input>

<tui-input
    id="dataReward"
    tuiTextfieldSize="m"
    [(ngModel)]="data.price"
    placeholder="Введите стоимость"
>Стоимость
</tui-input>

<button
    size="m"
    tuiButton
    type="button"
    [disabled]="!data.name || !data.description || !data.price"
    (click)="submit()"
>
    Подтвердить
</button>
