html, body {
    height: 100%; /* Устанавливаем высоту для html и body */
    margin: 0; /* Убираем отступы */
}

tui-root {
    display: flex; /* Используем flexbox для управления расположением */
    flex-direction: column; /* Вертикальное расположение */
    height: 100vh; /* Высота на всю видимую область */
}

.rootDiv {
    display: flex; /* Используем flexbox для управления расположением */
    flex-direction: column; /* Вертикальное расположение */
    height: 100%; /* Занимаем всю высоту родителя */
    margin-left: 10em; /* Увеличьте значение в зависимости от ширины вашей боковой панели */
    padding: 20px; 
}
