<table class="rating-table">
    <thead>
        <tr>
            <th>#</th> <!-- Номер -->
            <th>Имя</th> <!-- Имя пользователя -->
            <th>Рейтинг</th> <!-- Рейтинг пользователя -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td>{{ i + 1 }}</td> <!-- Номер пользователя -->
            <td>{{ user.name }}</td> <!-- Имя пользователя -->
            <td>{{ user.points }}</td> <!-- Рейтинг пользователя -->
        </tr>
    </tbody>
</table>

<div *ngIf="users && users.length > 0">
    <app-rating-ring-chart [users]="users"></app-rating-ring-chart>
  </div>