<label for="dataName">Название</label>
<tui-input
    id="dataName"
    tuiAutoFocus
    tuiTextfieldSize="m"
    [(ngModel)]="data.name"
    placeholder="Введите название события"
>
</tui-input>

<label for="dataDescription">Описание</label>
<tui-input
    id="dataDescription"
    tuiTextfieldSize="m"
    [(ngModel)]="data.description"
    placeholder="Введите описание"
>
</tui-input>

<label for="dataReward">Награда</label>
<tui-input
    id="dataReward"
    tuiTextfieldSize="m"
    [(ngModel)]="data.reward"
    placeholder="Введите размер награды"
>
</tui-input>


<p>
    <tui-input-date
        toNativeDate
        [tuiTextfieldCleaner]="true"
        [min]="min"
        [(ngModel)]="data.startDate"
    >
        Начало
    </tui-input-date>
</p>
<p>
    <tui-input-date
        toNativeDate
        [tuiTextfieldCleaner]="true"
        [min]="from || min"
        [(ngModel)]="data.endDate"
    >
        Конец
    </tui-input-date>
</p>

<button
    size="m"
    tuiButton
    type="button"
    [disabled]="!data.name || !data.description || !data.reward || !data.startDate || !data.endDate"
    (click)="submit()"
>
    Подтвердить
</button>
