<div class="card" tuiCardLarge routerLink="/users/{{userInfo.id}}">
    <div class="user-info">
        <tui-avatar class="avatar"
            src="https://avatars.mds.yandex.net/i?id=49bce3639d2a7f2317efb64c78e32f4a_l-9181306-images-thumbs&n=13"></tui-avatar>
        <header tuiHeader>
            <h2 tuiTitle>{{userInfo.name}}</h2>
        </header>
        <img
        alt=""
        [src]="'@tui.fa.solid.trash'"
    />
    </div>
    <section *ngIf="userInfo.points">Баланс: {{userInfo.points}}</section>
</div>